body {
background-color: antiquewhite;
margin: 0;
padding: 0;
box-sizing: border-box;
display: inline;
width: 100dvw;
height: 100dvh;
}
h1 {
 text-align: center;
}
input[type="checkbox"] {
 width: auto;
 height: auto;
 position: absolute;
 left: 5px;
 margin-top: 7px;
}
input[type="text"] {
 width: 70dvw;
 height: 25px;
 background-color: bisque;
  color: black;
  border-radius: 5px;
}
input[type="submit"] {
  text-align: center;
  display: none;
}
input {
 text-align: center;
 width: 7rem;
  height: 28px;
   background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
button {
  text-align: center;
  float: right;
  margin-top: 3px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
form {
 text-align: center;
}
li {
 text-decoration: none;
 list-style: none;
 border: 1px solid black;
 border-radius: 5px;
 margin-bottom: 5px;
}
#item-list {
 background-color: white;
 color: rgb(99, 93, 93);
 height: auto;
 font-size: 1.3rem;
 width: 100%;
}
#item-lists {
  overflow-wrap: break-word;
}

@media screen and (min-width: 425px) {
input[type="submit"] {
    text-align: center;
    display: inline;
  }
}